@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

ion-content {
  --padding-bottom: 1rem;
  --padding-end: 1rem;
  --padding-start: 1rem;
  --padding-top: 1rem;
}

.search-by-tag {
  position: relative;
  display: flex;
  background-color: var(--search-field);
  align-items: center;
  border-radius: calculateRem(40px);
  padding-left: calculateRem(40px);
  padding-top: calculateRem(10px);
  padding-bottom: calculateRem(10px);
  padding-right: calculateRem(10px);
  flex-wrap: wrap;

  .fixed-search-icon {
    position: absolute;
    left: calculateRem(10px);
    z-index: 1;
  }

  .tag-form {
    flex: 1;
  }

  .tag-input {
    --background: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
    --border-color: transparent;
    --border-width: 0;
    --highlight-color-focused: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-valid: transparent;
    --min-height: calculateRem(1px);
  }

  .tag-input-field {
    --placeholder-color: var(--ion-color-light-contrast);
    --placeholder-opacity: 1;
  }

  .tag {
    --background: var(--chip-color);
    --color: var(--ion-color-light-contrast);
    opacity: 1;
    text-transform: capitalize;
  }
}

.slide-tab {
  padding: 1rem 0;
}

.post-tab {
  --color-activated: var(--ion-color-dark);
  --color-checked: var(--ion-color-dark);
  --indicator-color-checked: var(--tab-active);
  --background-hover: rgba(255, 211, 80, 0.1);
  --background-activated: rgba(255, 211, 80, 0.1);

  ion-segment-button {
    text-transform: capitalize;
    flex: 1;
    max-width: 100%;
  }
}

.photo {
  img {
    width: 100%;
  }
}

.related-card {
  h3 {
    font-size: calculateRem(16px);
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: calculateRem(7px);
  }
  .-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .-col {
    padding: calculateRem(7px) calculateRem(14px);
    border-radius: calculateRem(5px);
    background-color: var(--related-search);
    margin-bottom: calculateRem(7px);
    margin-right: calculateRem(7px);
    text-align: right;
    h5 {
      margin: 0;
      font-size: calculateRem(15px);
      font-weight: bold;
    }
    p {
      margin: 0;
      font-size: calculateRem(13px);
    }
  }
}

.post-info {
  &-wrapper {
    max-width: calculateRem(150px);
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    h2 {
      font-weight: bolder;
      margin-bottom: calculateRem(3px);
    }
    p {
      font-size: calculateRem(13px);
      margin: 0;
    }
  }
}
