<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">

  <p>
    This is assignment for Koflunce. Please click on below button to see the desired page. Link for assignment <a
      href="https://xd.adobe.com/spec/ff46af03-2184-4552-4eb6-dc078004bdff-8977/"
      target="_blank">https://xd.adobe.com/spec/ff46af03-2184-4552-4eb6-dc078004bdff-8977/</a>
  </p>
  <p>
    Type text in search bar and press enter to see the chips and related search.
  </p>
  <p>
    Switch between the tabs to see the different values.
  </p>
  <ion-button color="primary" fill="outline" [routerLink]="['/discover']" routerDirection="forward" class="ion-padding">
    Discover Kofluence
    Assignment
  </ion-button>
</ion-content>